<header class="header-content">
    <nav class="main-nav">
        <div class="logo-title">Sharecipe</div>
        <ul class="header-nav">
            <li><a href="/html/index.html">Início</a></li>
            <li><a href="/html/recipe/recipes.html">Receitas</a></li>
            <li><a href="/html/about.html">Sobre</a></li>
            <li><a href="/html/contact.html">Contato</a></li>
        </ul>
        <div class="header-social">
            <a href="#" title="Instagram"><img src="/img/instagram.svg" alt="Instagram" class="social-icon"></a>
            <a href="#" title="YouTube"><img src="/img/youtube.svg" alt="YouTube" class="social-icon"></a>
            <a href="#" title="Pinterest"><img src="/img/pinterest.svg" alt="Pinterest" class="social-icon"></a>
            <a href="#" title="Twitter"><img src="/img/twitter.svg" alt="Twitter" class="social-icon"></a>
        </div>
    </nav>
</header>
